--
-- PostgreSQL database dump
--

\restrict rKWPYlT968A7W9t3AjqLxl1pc7dYDqEE6FzRGbfjlaP6mugB1VsbscK2s2WkZNq

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_audit_logs (
    id integer NOT NULL,
    admin_email character varying,
    action character varying,
    target_user character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.admin_audit_logs OWNER TO postgres;

--
-- Name: admin_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_audit_logs_id_seq OWNER TO postgres;

--
-- Name: admin_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_audit_logs_id_seq OWNED BY public.admin_audit_logs.id;


--
-- Name: blacklist_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blacklist_entries (
    id integer NOT NULL,
    user_id integer NOT NULL,
    value character varying NOT NULL,
    reason character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.blacklist_entries OWNER TO postgres;

--
-- Name: blacklist_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.blacklist_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.blacklist_entries_id_seq OWNER TO postgres;

--
-- Name: blacklist_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.blacklist_entries_id_seq OWNED BY public.blacklist_entries.id;


--
-- Name: email_alert_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_alert_events (
    id integer NOT NULL,
    source character varying NOT NULL,
    escalation_level character varying NOT NULL,
    spike_detected character varying,
    status character varying,
    created_at timestamp without time zone,
    acknowledged_at timestamp without time zone,
    resolved_at timestamp without time zone,
    user_id integer
);


ALTER TABLE public.email_alert_events OWNER TO postgres;

--
-- Name: email_alert_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_alert_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_alert_events_id_seq OWNER TO postgres;

--
-- Name: email_alert_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_alert_events_id_seq OWNED BY public.email_alert_events.id;


--
-- Name: log_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_records (
    id integer NOT NULL,
    user_id integer NOT NULL,
    raw_log text NOT NULL,
    result text,
    created_at timestamp without time zone
);


ALTER TABLE public.log_records OWNER TO postgres;

--
-- Name: log_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.log_records_id_seq OWNER TO postgres;

--
-- Name: log_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_records_id_seq OWNED BY public.log_records.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying,
    hashed_password character varying,
    api_key character varying,
    usage_count integer,
    last_usage_reset timestamp without time zone,
    plan character varying,
    billing_status character varying,
    role character varying DEFAULT 'user'::character varying,
    is_disabled boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: admin_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.admin_audit_logs_id_seq'::regclass);


--
-- Name: blacklist_entries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blacklist_entries ALTER COLUMN id SET DEFAULT nextval('public.blacklist_entries_id_seq'::regclass);


--
-- Name: email_alert_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_alert_events ALTER COLUMN id SET DEFAULT nextval('public.email_alert_events_id_seq'::regclass);


--
-- Name: log_records id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_records ALTER COLUMN id SET DEFAULT nextval('public.log_records_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: admin_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_audit_logs (id, admin_email, action, target_user, created_at) FROM stdin;
\.


--
-- Data for Name: blacklist_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.blacklist_entries (id, user_id, value, reason, created_at) FROM stdin;
1	1	203.0.113.45	repeated_failed_login	2026-05-16 16:54:22.205682
2	1	66.66.66.66	repeated_failed_login	2026-05-28 19:57:45.467237
3	1	66.66.66.66,	sql_injection	2026-05-28 20:15:08.932484
4	1	203.0.113.45"	repeated_failed_login	2026-05-29 18:43:58.009079
5	1	198.51.100.22	sql_injection	2026-05-31 19:09:47.37809
\.


--
-- Data for Name: email_alert_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: log_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: admin_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_audit_logs_id_seq', 1, false);


--
-- Name: blacklist_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.blacklist_entries_id_seq', 5, true);


--
-- Name: email_alert_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_alert_events_id_seq', 83, true);


--
-- Name: log_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_records_id_seq', 55, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: admin_audit_logs admin_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blacklist_entries blacklist_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blacklist_entries
    ADD CONSTRAINT blacklist_entries_pkey PRIMARY KEY (id);


--
-- Name: email_alert_events email_alert_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_alert_events
    ADD CONSTRAINT email_alert_events_pkey PRIMARY KEY (id);


--
-- Name: log_records log_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_records
    ADD CONSTRAINT log_records_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_admin_audit_logs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_admin_audit_logs_id ON public.admin_audit_logs USING btree (id);


--
-- Name: ix_blacklist_entries_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_blacklist_entries_id ON public.blacklist_entries USING btree (id);


--
-- Name: ix_email_alert_events_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_alert_events_id ON public.email_alert_events USING btree (id);


--
-- Name: ix_email_alert_events_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_alert_events_user_id ON public.email_alert_events USING btree (user_id);


--
-- Name: ix_log_records_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_log_records_id ON public.log_records USING btree (id);


--
-- Name: ix_log_records_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_log_records_user_id ON public.log_records USING btree (user_id);


--
-- Name: ix_users_api_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_api_key ON public.users USING btree (api_key);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: blacklist_entries blacklist_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blacklist_entries
    ADD CONSTRAINT blacklist_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: log_records log_records_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_records
    ADD CONSTRAINT log_records_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict rKWPYlT968A7W9t3AjqLxl1pc7dYDqEE6FzRGbfjlaP6mugB1VsbscK2s2WkZNq

